<!DOCTYPE html>
<html lang="en" style="background-image: url('../static/img/stars.jpg');">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>NASA API Photo of the day!</title>
        <h1 style="color: white">NASA Photo of the day!</h1>
        
    </head>
    <section>
        <body>
            <img id="picture" src="{{ image_url }}">
        </body>
        
    </section>        
    <a href="/description" style="font-weight:bold; font-size: x-large">Click to view description</a>
</html>